#kb1{
    width: 200px;
    height: 210px;
    padding: 12px;
    padding-top: 110px;
    margin: 5px auto;
    text-align: center;
    
}
#kb2{
    width: 650px;
    padding: 12px;
    margin: 20px auto;
    text-align: center;
    
}
#connectButton{
    color: white;
    font-size: large;
    border-radius: 6px;
    font-family: 'Courier New';
    background-color: rgb(80, 184, 80);
    padding: 8px;
    border-style: hidden;
    margin: 40px;
    text-align: center;
    
}

#disconnectButton{
    color: white;
    font-size: large;
    border-radius: 6px;
    font-family: 'Courier New';
    background-color: rgb(218, 31, 31);
    padding: 8px;
    border-style: hidden;
    margin: 40px;
    text-align: center;
}

#saveConfigButton{
    color: white;
    font-size: large;
    border-radius: 6px;
    font-family: 'Courier New';
    background-color: rgb(80, 184, 80);
    padding: 8px;
    border-style: hidden;
    margin: 15px;
    text-align: center;
}
#saveLedConfigButton{
    color: white;
    font-size: large;
    border-radius: 6px;
    font-family: 'Courier New';
    background-color: rgb(80, 184, 80);
    padding: 8px;
    border-style: hidden;
    margin: 15px;
    text-align: center;
}
#deleteButton{
    padding: 5px;
    margin-left: 5px;
    font-size: medium;
}
.input{
    padding:5px;
    font-size: medium;
    width: 600px;
}
#alias_input{
  padding:5px;
  font-size: medium;
}
.cfg{
    text-align: center;
    margin: 12px;
}

.action{
    text-align: center;
}
#device_rsp{
    margin: 12 auto;
    text-align: center;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    width: 200px;
    margin: auto;
    border-radius: 6px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    width: 200px;
    margin: auto;
  }

.container {
    display: grid;
    align-items: center;
    justify-content: center;
}

#ledconainer{
    margin: auto;
}
#aliasconainer{
  margin: auto;
}
#scriptconainer{
  margin: auto;
}

.tabcontent{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
/* keyboard */
.keyboardContainer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    width: 1024px;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .simple-keyboard.hg-theme-default {
    display: inline-block;
  }
  
  .simple-keyboard-main.simple-keyboard {
    width: 640px;
    min-width: 640px;
    background: none;
  }
  
  .simple-keyboard-main.simple-keyboard .hg-row:first-child {
    margin-bottom: 10px;
  }
  
  .simple-keyboard-arrows.simple-keyboard {
    align-self: flex-end;
    background: none;
  }
  
  .simple-keyboard .hg-button.selectedButton {
    background: rgba(5, 25, 70, 0.53);
    color: white;
  }
  
  .simple-keyboard .hg-button.emptySpace {
    pointer-events: none;
    background: none;
    border: none;
    box-shadow: none;
  }
  
  .simple-keyboard-arrows .hg-row {
    justify-content: center;
  }
  
  .simple-keyboard-arrows .hg-button {
    width: 50px;
    flex-grow: 0;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .controlArrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
  }
  
  .simple-keyboard-control.simple-keyboard {
    background: none;
  }
  
  .simple-keyboard-control.simple-keyboard .hg-row:first-child {
    margin-bottom: 10px;
  }
  
  .simple-keyboard-control .hg-button {
    width: 50px;
    flex-grow: 0;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .numPad {
    display: flex;
    align-items: flex-end;
  }
  
  .simple-keyboard-numpad.simple-keyboard {
    background: none;
  }
  
  .simple-keyboard-numpad.simple-keyboard {
    width: 160px;
  }
  
  .simple-keyboard-numpad.simple-keyboard .hg-button {
    width: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .simple-keyboard-numpadEnd.simple-keyboard {
    width: 50px;
    background: none;
    margin: 0;
    padding: 5px 5px 5px 0;
  }
  
  .simple-keyboard-numpadEnd.simple-keyboard .hg-button {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .simple-keyboard-numpadEnd .hg-button.hg-standardBtn.hg-button-plus {
    height: 85px;
  }
  
  .simple-keyboard-numpadEnd.simple-keyboard .hg-button.hg-button-enter {
    height: 85px;
  }
  
  .simple-keyboard.hg-theme-default .hg-button.hg-selectedButton {
    background: rgba(5, 25, 70, 0.53);
    color: white;
  }
  
  .hg-button.hg-functionBtn.hg-button-space {
    width: 350px;
  }

  #ledconainer{
    text-align: center;
  }
  #customize_led{
    text-align: center;
    display: block;
  }
  #aliasconainer{
    text-align: center;
  }
  #customize_alias{
    text-align: center;
    display: block;
  }
  #customize_script{
    text-align: center;
    display: block;
  }
  #update_firmware{
    text-align: center;
    display: block;
  }
  #firmwarecontainer{
    text-align: center;
  }
  #updateFirmwareButton{
    color: white;
    font-size: large;
    border-radius: 6px;
    font-family: 'Courier New';
    background-color: rgb(80, 184, 80);
    padding: 8px;
    border-style: hidden;
    margin: 15px;
    text-align: center;
}
.wizard{
  margin: 20px;
  color: blue;
}
